recursive-include static *
recursive-include helpers *.py
recursive-include routes *.py
recursive-include templates *.html
include CLAUDE.md
include ARCHITECTURE.md
include CHANGELOG.md
include LICENSE
include README.md
